cmake-build-debug/
cmake-debug-build/
.idea/
.vscode
obj
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
build/

*.pyc
