cmake-build-debug/
cmake-debug-build/
.idea/
.vscode
obj
patch
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
build/
dist/
*.pyc
*egg*
__pycache*